[submodule "software/bootloader/uf2-samdx1"]
	path = software/bootloader/uf2-samdx1
	url = git@github.com:adafruit/uf2-samdx1.git
[submodule "software/klipper/klipper"]
	path = software/klipper/klipper
	url = git@github.com:KevinOConnor/klipper.git
[submodule "hotend_board/kicad-personal"]
	path = hotend_board/kicad-personal
	url = git@github.com:wRieDen/kicad-personal.git
[submodule "hotend_board/kicad-symbols"]
	path = hotend_board/kicad-symbols
	url = git@github.com:KiCad/kicad-symbols.git
[submodule "hotend_board/kicad-footprints"]
	path = hotend_board/kicad-footprints
	url = git@github.com:KiCad/kicad-footprints.git
[submodule "hotend_board_mosquito/kicad-footprints"]
	path = hotend_board_mosquito/kicad-footprints
	url = git@github.com:KiCad/kicad-footprints.git
[submodule "hotend_board_mosquito/kicad-symbols"]
	path = hotend_board_mosquito/kicad-symbols
	url = git@github.com:KiCad/kicad-symbols.git
[submodule "hotend_board_mosquito/kicad-personal"]
	path = hotend_board_mosquito/kicad-personal
	url = git@github.com:wRieDen/kicad-personal.git
